<h2>Bonjour ! Veuillez confirmer l'e-mail de votre compte SnowTricks !</h2>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    Vous devez être connecté à votre compte pour vérifier votre adresse e-mail.
</p>

<p>
    Merci !
</p>
