{% extends "layout.html.twig" %}

{% block title %}Nouveau mot de passe{% endblock %}
{% block content %}
    <div class="container container-identifiers mt-5 d-flex justify-content-center">
        <div class="col-md-4">
            <h3><i class="fa fa-repeat"></i>Réinitialisation du mot de passe</h3>
            <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
            <div class="card px-5 py-5">
                {{ form_start(form) }}
                    {{ form_row(form.plainPassword) }}
                    <div class="text-center pt-2">
                        <button class="btn btn-primary">Valider le mot de passe</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
