@charset "UTF-8";
/* CSS GLOBAL Document */

header {
  background-color: #129ce7;

  .container {
    a {
      color: rgb(255, 255, 255);
    }

    a:hover {
      color: rgb(10, 88, 202);
    }
  }

  .navbar-nav {
      --bs-nav-link-padding-y: 0;
  }
}

/* PAGE HOME.HTML.TWIG */
.home {
  table td {
    padding: 0 0.5rem;
  }
}

/* PAGE ADD-EDIT-TRICK.HTML.TWIG */
.container-images {
  text-align: center;

  span img {
    height: 14rem;
    max-width: 100%;
    padding-bottom: 0.2rem;
    object-fit: contain;
  }
}

.trick-embed {
  margin-top: -0.7rem;
  white-space: pre-line;
}

.removeForm {
  margin-bottom: 5rem;
}

footer {
  background-color: #129ce7;

  p {
    margin: 0.5rem 0;

    color: rgb(255, 255, 255);

    a {
    color: rgb(255, 255, 255);
    }
  }
}